@import "tailwindcss/theme";
@import "../theme.css";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "@shared/styles/typography.css";

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
